code {
  display: none;
}

.highlight__copy-text {
  position: static;
  padding: 5px;
  width: 100%;
  line-height: 20px;
  font-size: 90%;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  border: none;
  resize: none;
}

.result {
  display: none;
  padding: 5px;
  background-color: dimgray;
  width: 100%;
  line-height: 20px;
  color: white;
  font-size: 90%;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
}

.btn_execute {
  float: right;
  margin: 0 -1.1em 0.25em 0.5em;
  padding: 0.25em 0.5em;
  background: #DDD;
  opacity: 0.75;
  cursor: pointer;
}
