pre.highlight.ruby code.language-ruby {
  outline: 0px solid transparent;
  font-size: 90%;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  line-height: initial;
}

.document-ruby-lang-support-spacer {
  height: 1.0em;
}

.document-ruby-lang-support-button {
  float: right;
  margin: 0 0.5em 0.25em 0.5em;
  padding: 0.25em 0.5em;
  background: #DDD;
  opacity: 0.75;
  cursor: pointer;
  display: none;
}

.document-ruby-lang-support-button:hover {
  background: #EE8;
  opacity: 1;
}

.document-ruby-lang-support-exec {
  content: url("chrome-extension://__MSG_@@extension_id__/src/images/icon16.png");
  position: absolute;
  top: 0.25em;
  margin-left: 2px;
  display: none;
  cursor: pointer;
}

.document-ruby-lang-support-result {
  padding: 5px;
  background-color: dimgray;
  margin-right: -1.1em;
  line-height: 20px;
  color: white;
  font-size: 90%;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  display: none;
  text-wrap: wrap;
}

@keyframes opacitychange {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.opacityChanging {
  animation: opacitychange 0.5s;
}
